@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  height: 100%;
  min-height: 100%;
  background: white;
}
body {
  display: grid;
  grid-template: "hd hd hd hd hd hd hd hd hd hd" minmax(50px, auto)
                  "ct ct ct ct ct ct ct ct ct ct" minmax(100px, auto)
                  "ft ft ft ft ft ft ft ft ft ft" minmax(50px, auto)
                  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height:100%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-container {
  grid-area: "ct";
  grid-column: 1/10;
  grid-row: 2;
  gap: 20px;
}

.top-nav {
  grid-area: "hd";
  grid-column: 1/13;
  grid-row: 1;
  padding: 10px;
  height: 80px;
}

.main-content {
  grid-column: 1/13;
  grid-row: 1;
}

footer {
  grid-column: 1/13;
  grid-row: 16;
}

a.active {
  font-weight: bold;
}

.test1 {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
  margin: 5px;
}

.test1 .item {
  max-width: 200px;
  padding: 5px;
}
.test1 .item.header-el {
  margin-top: 20px
}

.test1 .item.header-el h1 {
  font-size: x-large;
  font-weight: bold; 

}

.sidebar {
  grid-row: 2/15;
  grid-column: 1;
  background: black;
}